---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome">
	<main>Hola</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
	}
</style>
