---
import InputNameForm from "../components/InputNameForm.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome">
	<main>
		<h1 class="title">Hola 👋</h1>
		<p>Let&apos;s get started.</p>
		<InputNameForm />
	</main>
</Layout>

<style>
	main {
		width: 100%;
	}
	h1 {
		font-variation-settings: "wght" 690;
		font-size: 3rem;
		color: var(--accent);
	}
	p {
		font-variation-settings: "wght" 300;
		font-size: 1.625rem;
		font-family: var(--ft-fam-title);
		margin-bottom: var(--sz-3);
		color: var(--accent);
	}
</style>
