---
import WelcomeForm from "../components/WelcomeForm.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome">
	<main>
		<h1 class="title">Hola 👋</h1>
		<p>Let&apos;s get started.</p>
		<WelcomeForm />
	</main>
</Layout>

<style>
	main {
		width: 100%;
	}
	h1 {
		font-variation-settings: "wght" 690;
		font-size: 3rem;
		color: var(--peep);
	}
	p {
		font-variation-settings: "wght" 200;
		font-size: 1.725rem;
	}
</style>
