---
import WelcomeForm from "../components/WelcomeForm.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome">
	<main>
		<h1>Welcome fellow Orca</h1>
		<WelcomeForm />
	</main>
</Layout>
