@font-face {
  font-family: "Petrona";
  src: url("/fonts/petrona.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Overpass";
  src: url("/fonts/overpass.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
